{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}
{% block content %}
    <h3>Sale Order</h3>

    <form action="" method="post">
        {% csrf_token %}

    {{ form }}
    <br>
    {{ formset.management_form }}
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr class="bg-success">
            <th>Product</th>
            <th>Boxes(b,p)</th>
            <th>Line Total(Rs.)</th>
            <th>Free pieces (pieces)</th>
            <th>Returned(b,p)</th>
            <th>Stale(pieces)</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for form in formset %}
        <tr class="new-line-item">
        <td>{{ form.id }} {{ form.product }}</td>
        <td>{{ form.to_box }}</td>
        <td>{{ form.linetotal }}</td>
        <td>{{ form.free_pieces }}</td>
        <td>{{ form.returned }}</td>
        <td>{{ form.stale }}</td>
        <td>{{ form.DELETE }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
        <input type="submit" value="Save" class="btn bg-success">
    </form>
{% endblock content %}
{% block js_extra %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
    $('.new-line-item').formset({
        addText: 'New Item',
        addCssClass:'btn btn-primary',
        deleteText: ' Remove',
    });
{#$('#id_sale_line_items-1-id').val(this.form.find('span.row-id input[value!=""]').length);#}
</script>
{% endblock js_extra %}