{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles mytags %}
{% block content %}
<h1>Gatepasses for {{ day|date:'l, F d, Y' }}</h1>

<div class="row hidden-print"><hr>
<form action="" method="post" class="form-inline">
            {% csrf_token %}
        <div class="col-md-6 col-md-push-6">
            <p><input type="radio" name="dsr" value="0" id="all" {% ifequal '0' dsr_id %}  checked="checked" {% endifequal %}><label for="all">All</label></p>
            {% for dsr in sale_reps %}
            <p>
                <input type="radio" name="dsr" id="{{ dsr.id }}" value="{{ dsr.id }}" {% ifequal dsr.id|stringformat:'i' dsr_id %}  checked="checked" {% endifequal %}>
                <label for="{{ dsr.id }}"> {{ dsr.username }}</label>
            </p>
        {% endfor %}
        </div>
            <div class="col-md-6 col-md-pull-6">
            <input type="submit" value="Get Gatepass" class="btn btn-success">
                <div class="form-group">
                <input type="text" id="datepicker" name="asked_day" value="{{ asked_day }}" placeholder="yyyy/mm/dd" class="form-control">
            </div>
            </div>
        </form><hr>
</div> <!--row-->

    <h1 class="hidden-print">Gatepass Detail</h1>

    {% regroup gatepass by username as orders %}
    <div class="row">
    {% for order in orders %}
    <div class="col-xs-4">
    <h5>{{ order.grouper|capfirst }}</h5>
        <ul class="leaders">
        {% for item in order.list %}
            <li>{{ forloop.counter }}. <span>{{ item.sale__sale_line_items__product__name }}</span>
                <span>{{ item.total|to_box:item.sale__sale_line_items__product__quantity_per_unit }}</span>
            </li>
        {% endfor %}
        </ul>
        {% cycle '</div>' '</div>' '</div>' %}

    {% empty %}
        <h3>No sale for {{ day|date:'l, d M. Y' }}</h3>
    {% endfor %}
     </div>{#.row#}

{% endblock content %}









{% block head_extra %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock head_extra %}
{% block js_extra %}
{#<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
$( "#datepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
});
</script>
{% endblock js_extra %}