{% extends 'base.html' %}
{% block content %}
    <h1>Sale By Date</h1>
{% regroup object_list by sale_date as customer_wise_list %}
{% for sale_date in customer_wise_list %}
<h3>{{ sale_date.grouper }}</h3>
   <table class="table table-bordered table-responsive table-striped">
   <thead>
   <tr class="bg-success">
       <th>Order No.</th>
       <th>DSR</th>
       <th>Amount(Rs.)</th>
       <th>Action</th>
   </tr>
   </thead>
   <tbody>
    {% for sale in sale_date.list %}
        <tr>
        <td>{{ sale.customer }} (Order#: {{ sale.id }})</td>
        <td>{{ sale.sales_rep|capfirst }}</td>
        <td>{{ sale.amount }}</td>
        <td><a href="{% url 'sales:create_order' id=sale.id %}" class="btn btn-warning">Edit</a></td>
        </tr>

    {% endfor %}
   </tbody>
   </table>
{% endfor %}

<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}