{% extends 'base.html' %}
{% block content %}
    <h1>Sales Orders</h1>
    <table class="table table-bordered table-responsive table-striped">
   <thead>
   <tr class="bg-success">
       <th>Order No.</th>
       <th>Amount(Rs.)</th>
       <th>Customer</th>
       <th>DSR</th>
       <th>Action</th>
   </tr>
   </thead>
   <tbody>
    {% for sale_order in object_list %}
        <tr>
            <td>{{ sale_order.id }} <span class="small text-muted">({{ sale_order.sale_date|date:'d/m/Y' }})</span></td>
            <td>{{ sale_order.amount }}</td>
            <td>{{ sale_order.customer|capfirst }}</td>
            <td>{{ sale_order.sales_rep|capfirst }}</td>
            <td>
               <div class="btn-group">
                    <a href="{% url 'sales:create_order' id=sale_order.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'sales:delete' pk=sale_order.id %}" class="btn btn-danger btn-sm">Delete</a>
               </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
   </table>


<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}